
@font-face {
    font-family:Copperplate Gothic Light;
    src: url("../fonts/coprgtl.ttf") format('truetype');
}

/***** LOGO START*****/


.logo{
  font-family: Copperplate Gothic Light;
  font-size: 36px;
  position: absolute;
  bottom: -25px;
  left: 30px;
  width: 75px;

}

.brandtext h1{
  color: #f9f8e8;
  font-size: 36px;
  font-family: Copperplate Gothic Light;
  position: absolute;
  bottom: 20px;
  left: 95px;
  
}

.brandtext p{
  color: #f9f8e8;
  font-size: 20px;
  font-family: Copperplate Gothic Light;
  position: absolute;
  bottom: -7px;
  left: 110px;
  
}

/***** LOGO END*****/







/*** PORTFOLIO OLD START ***/
.portfolio-thumbnail {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border-color: #c1be97;
  background-color: #f9f8e8; 
  border-width: 1px;
  width: 100%;
  box-shadow: 5px 5px 5px #cccccc;
}

h4 {

  color: #6699cc;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: .5px;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  text-shadow: 1.5px 1.5px 1px #cccccc;
}


.portfolio-thumbnail:hover {
  border-width: 3px;
  border-color: #74b4e2;
}

.portfolio-title {
  font-weight: normal;
  border-color: #ebd122;
}

.portfolio-description {
}

.portfolio-image {
  border-color: #3d4596;
}

#about-world {
  max-height: 200px;
}

.resume h3 {
  font-weight: bold;
}

hr {
  border-color: white;
  border-width: 2px;
}

p {
  font-size: 20px;

}

a {
  color: #fff;

   
}

a:hover {
  color: #74b4e2;
}

.jumbotron {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
  background-image: url("../assets/images/dem4.png");
  
  background-position: center center;
  background-size: cover;
  height: 150px;
  font-weight: normal;
  color: #fff;
  padding: 1%;
  z-index: 20;
}

.jumbotron h3 {
  text-align: left; 
  font-size: 36px;
  font-weight: regular;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.footer {
  background-image: url("../assets/images/dem5.png");
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
  background-position: center center;
  background-size: cover;
  height:50px;
  padding: 7px;
}

.footer p {
  color: #fff;
  font-size: 14px;
  text-align: right;
  position: relative;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: normal;
}


.footer i{
 font-size: 16px;
 width: 18px;
 height: 12px;
}
.footer i:hover{
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  border: 1px solid #c1be97;
  background-color: #f9f8e8;
  color: #6699cc;
}

body {
  padding-top: 250px;
  margin-bottom: 120px;
  font-family: Tahoma, Geneva, sans-serif;;
  font-weight: normal;
  background-color: #fff;
  z-index: 1;
 
}

/*** PORTFOLIO OLD END ***/





/*** NEW NAVIGATION BAR START ***/




.header {
  background-color: #fff;
  padding: 20px 50px;
  position: absolute;
  background-color: #fff;
  top: 150px;
  left: 0px;
  right: 0px;
  z-index: 10;
  height: 50px;
  font-weight: normal;
  color: #fff;
  padding: 1%;

}

.header a {
  background-color: #fff;
  float: left;
  color: #6699cc;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  border: 1px solid #c1be97;
  background-color: #f9f8e8;
  color: #6699cc;
}


.header-right {
  float: right;
}

@media screen and (max-width: 500px) {

  .header a {
    float: center;
    display: block;
    text-align: left;
    z-index: 10;
  }
  .header-right {
    float: center;
  }
}

.portimage {
  border: 1px solid #3d4596;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  background-color: #fff;
  border-color: #c1be97;
  border-radius: 4px;
  width: 100%;

}
/*** NEW NAVIGATION BAR END ***/


/*** OTHER PAGES START ***/

.contactinfo{
  padding-left: 50px; 
  font-size: 36px;
  font-weight: regular;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
}


a.notwhitetext:link {
  color:#ff0000;
}

a.notwhitetext:visited {
  color:#0000ff;
}

a.notwhitetext:hover {
  color:#ffcc00;
}